.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  .left {
    height: 100vh;
    width: 50%;
    background-color: theme("colors.orange");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
    h1 {
      font-family: theme("fontFamily.pacifico");
      font-weight: 400;
      font-size: 5vw;
      color: theme("colors.cream");
    }
    h4 {
      font-family: theme("fontFamily.nunito");
      font-weight: 400;
      font-size: 1.5vw;
      color: theme("colors.cream");
    }
  }
  .right {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      width: 550px;
      height: 600px;
      background-color: theme("colors.cream");
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-family: theme("fontFamily.pacifico");
        font-weight: 400;
        font-size: 40px;
        line-height: 70px;
        color: theme("colors.orange");
        padding-top: 30px;
        user-select: none;
      }
      .form {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: theme("fontFamily.nunito");
        input {
          width: 300px;

          &:focus-visible {
            border-color: theme("colors.orange");
            box-shadow: none;
          }
        }
        .advisor {
          padding-top: 10px;
          width: 300px;
        }
      }
      .line {
        height: 1px;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.117);
      }
      .sso {
        width: 80%;
        height: 168px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          svg {
            font-size: 30px;
          }
        }
      }
      a {
        color: grey;
        text-decoration: underline;
        padding-bottom: 15px;
      }
    }
  }
}
